<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pistas deportivas</title>
    <th:block th:include = "fragments/general.html :: headerfiles"></th:block>

</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments/general.html :: navigation"> </div>
        <h1>Editar instalacion</h1>
        
        <form th:action="@{/save}" th:object="${instalacion}" method="post" class="form">
            <div class="form-group">
                <label for="instalacionNombre">Instalacion:</label>
                <input type="text" id="instalacionNombre" th:field="*{nombre}" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>

        </form>
        <div th:replace = "fragments/general.html :: footer"></div>

    </div>
</body>
</html>