<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pistas deportivas</title>
    <th:block th:include = "fragments/general.html :: headerfiles"></th:block>

</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments/general.html :: navigation"> </div>
        <h3 th:switch="${operacion}">
            <span th:case="ADD">Añadir un nuevo horario</span>
            <span th:case="EDIT">Editando un horario</span>
            <span th:case="DEL">Borrando un horario</span>
            <span th:case="*">Operacion no soportada</span>
        </h3>
        
        <form method="post" th:object="${instalacion}" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="instalacionNombre">Instalacion:</label>
                <input type="text" id="instalacionNombre" 
                th:field="*{nombre}" class="form-control"
                th:attr="disabled=${operacion} == DEL ? 'disabled' : null" />
            </div>
            <button type="submit" class="btn btn-primary">Continuar</button>

        </form>
        <div th:replace = "fragments/general.html :: footer"></div>

    </div>
</body>
</html>