<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pistas deportivas</title>
    <th:block th:include = "fragments/general.html :: headerfiles"></th:block>

</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments/general.html :: navigation"> </div>
            <h3>Horarios</h3>
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>#</th>
                        <th>Instalacion</th>

                        <th>Hora de inicio</th>

                        <th>Hora de fin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="horario : ${horarios}">
                        <td th:text="${horario.id}">ID</td>
                        <td th:text="${horario.instalacion.nombre}">Instalacion</td>
                        <td th:text="${horario.horaInicio}">Hora Inicio</td>
                        <td th:text="${horario.horaFin}">Hora fin</td>
                        <td>
                            <a class="btn btn-primary" th:href="@{/horarios/edit/{id}(id=${horario.id})}">Editar</a>
                            <a class="btn btn-danger" th:href="@{/horarios/del/{id}(id=${horario.id})}">Eliminar</a>
                        </td>
                            
                    </tr>
                </tbody>
            </table>
        <div th:replace = "fragments/general.html :: footer"></div>
    </div>
</body>
</html>