<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pistas deportivas</title>
    <th:block th:include = "fragments/general.html :: headerfiles"></th:block>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments/general.html :: navigation"> </div>
        <h1>Gestión de pistas deportivas</h1>
        <div th:replace = "fragments/general.html :: footer"></div>

    </div>
</body>
</html>